:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --ligth-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card-2 {
  background-color: var(--dark-grayish-blue);
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.card-3 {
  background-color: white;
  color: var(--dark-grayish-blue);
  padding: 30px;
  border-radius: 10px;
}

.card-2 .photo-and-data, .card-3 .photo-and-data {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.card-2 .photo-and-data img, .card-3 .photo-and-data img {
  border-radius: 50%;
  width: 35px;
}

.card-2 .name, .card-3 .name {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.card-2 .name .graduate, .card-3 .name .graduate {
  opacity: 50%;
}

.card-2 .quote, .card-3 .quote {
  opacity: 70%;
  padding-top: 15px;
}

.card-2 .text, .card-3 .text {
  font-size: 15px;
}

.attribution{
  font-size: 15px;
  text-align: center;
}

.attribution.a{
  color: hsl(228, 45%, 44%);
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  /* Dos tamaños de font-weight 500 y 600 disponibles */
}

/* BREAKPOINTS */

/* Según la guia de estilos se definen dos dispositivos
  mobile: 375px
  desktop: 1440px
*/
